/* src/styles/global.css */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: #29d7ff;
  --color-purple: #7083ff;
  --color-pink: #e000ff;
  --color-very-pale-blue: #f3fbff;
  --color-light-grayish-cyan: #e0f7fa;
  --color-blue-light: #29d7ff;
  --color-turquoise: #3cbfff;
  --color-indigo: #7083ff;
  --color-purple: #c123ff;
  --color-pink: #e000ff;
  --color-light-blue: #53a4ff;

  --zuzzuu-pink-rainbow-color: linear-gradient(
    113deg,
    #29d7ff 18.07%,
    #3cbfff 27.42%,
    #7083ff 46.12%,
    #c123ff 73.51%,
    #e000ff 83.53%
  );
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.button-container::-webkit-scrollbar {
  display: none;
}

section {
  padding:2rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Ensure the button container takes full width on mobile */
@media (max-width: 768px) {
  .button-container {
    width: 100%;
  }
  section {
    margin: 1.5rem 0;
    padding: 0 1rem;
  }
}

/* Custom class to hide scrollbars on mobile */
.scrollbar-hide-mobile {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide-mobile::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Hide scrollbar for mobile only */
@media (max-width: 768px) {
  .scrollbar-hide-mobile {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide-mobile::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
/* Span header text */
.gradient-text {
  background: var(--zuzzuu-pink-rainbow-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
  margin: 1rem;
  line-height: 2 !important;
  text-align: center;
  font-size: 1.875rem;
}

.gradient-text-h2 {
  background: var(--zuzzuu-pink-rainbow-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
  margin: 2rem 0 0.5rem; /* Smaller margin */
  line-height: 1.5 !important; /* Adjusted line height */
  text-align: left; /* Align left instead of center */
  font-size: 1.5rem; /* Smaller font size */
}

@media (min-width: 768px) {
  .gradient-text {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .gradient-text {
    font-size: 2.5rem;
  }
}
/* Span header text */

/* Main loader */
.main-loader {
  position: relative;
  width: 80px;
  height: 80px;
  border: 8px solid rgba(200, 200, 200, 0.3);
  border-top: 8px solid var(--color-turquoise);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Main loader */

/* zuzzuu-button */
.zuzzuu-button {
  @apply text-sm font-bold
         border-2 border-[#eaeaea]
         rounded-xl
         text-white
         w-fit
         px-6 py-2;
  background: var(--zuzzuu-pink-rainbow-color);
  background-clip: padding-box;
}

.zuzzuu-button-outline {
  @apply border-2 border-[#7083ff]
         text-[#7083ff] bg-transparent
         hover:bg-gradient-to-r hover:from-[#29d7ff] hover:via-[#7083ff] hover:to-[#e000ff]
         hover:text-white font-bold py-2 px-6 rounded-xl
         transition-all duration-300
         cursor-pointer;
}

.zuzzuu-button:disabled,
.zuzzuu-button-outline:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.zuzzuu-button-sm {
  @apply py-1 px-4 text-sm;
}

.zuzzuu-button-lg {
  @apply py-3 px-8 text-lg;
}

.zuzzuu-button-outline-sm {
  @apply py-1 px-4 text-sm border-2 border-[#7083ff]
         text-[#7083ff] bg-transparent
         hover:bg-gradient-to-r hover:from-[#29d7ff] hover:via-[#7083ff] hover:to-[#e000ff]
         hover:text-white font-bold rounded-xl
         transition-all duration-300
         cursor-pointer;
}

.zuzzuu-button-outline-lg {
  @apply py-3 px-8 text-lg border-2 border-[#7083ff]
         text-[#7083ff] bg-transparent
         hover:bg-gradient-to-r hover:from-[#29d7ff] hover:via-[#7083ff] hover:to-[#e000ff]
         hover:text-white font-bold rounded-xl
         transition-all duration-300
         cursor-pointer;
}
/* zuzzuu-button */

.detail-page-container {
  padding: 1rem; /* px-4 */
  max-width: 72rem; /* max-w-6xl */
  margin: 0 auto; /* Center horizontally */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack children vertically if needed */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Ensure it fills the full viewport height */
}
.detail-page-container .header-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
/* Mobile (default) */
@media screen and (max-width: 767px) {
  .detail-page-container .header-image {
    aspect-ratio: 6/4;
    height: 16rem;
    object-position:15%;
    border-radius: 0.5rem;
  }
}

/* Desktop (768px and above) */
@media screen and (min-width: 768px) {
  .detail-page-container .header-image {
    aspect-ratio: 48/9;
    height: 30rem;
    object-position: 15%;
  }
}

.dot-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Adjust size as needed */
  color: #3b82f6; /* Blue color, adjust as needed */
}

.dot-loading span {
  animation: dot-bounce 1.4s infinite ease-in-out;
}

.dot-loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1rem); /* Adjust bounce height as needed */
  }
}


@keyframes swipeFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.detail-page {
  padding: 1rem; /* px-4 */
  max-width: 72rem; /* max-w-6xl */
  margin: 0 auto; /* Center horizontally */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack children vertically if needed */
  min-height: 100vh; /* Ensure it fills the full viewport height */
}

.detail-page h2{
   background: var(--zuzzuu-pink-rainbow-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
  margin: 2rem 0; /* Smaller margin */
  line-height: 1.5 !important; /* Adjusted line height */
  font-size: 1.5rem; /* Smaller font size */
}
.detail-page  .zuzzuu-button{
  @zuzzuu-button;
  margin-top: 2rem !important;
}
.detail-page  .highlight{
  font-weight: bold;
  color: var(--color-light-blue);
}